<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meglaton</title>  
    <%- include('partials/style')%> <!-- Inclusión de estilos CSS -->
</head>
<body>
    <%- include('partials/navigation')%> <!-- Inclusión de la barra de navegación -->
    
    <!-- Logo Centrado -->
    <header class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100">
        <img src="/img/mega.png" alt="Logo de Meglaton" class="img-fluid mb-4">
        <!-- Botón "About Us" dentro del header para que esté cerca del logo -->
        <a href="/about" class="btn btn-dark text-white px-4 py-2">Services</a>
        <a href="/contact" class="btn btn-dark text-white px-4 py-2 mt-2">Suscription</a>
    </header>
    </header>
    
    
    <%- include('partials/footer') %> 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
