<!-- Footer -->
<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <p class="mb-1">&copy; 2025 Meglaton Gym. Todos los derechos reservados.</p>
        <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center">
            <a href="/about" class="text-white text-decoration-none mx-2 my-1">Sobre Nosotros</a>
            <a href="/services" class="text-white text-decoration-none mx-2 my-1">Servicios</a>
            <a href="/contact" class="text-white text-decoration-none mx-2 my-1">Contacto</a>
        </div>
        <img src="/img/mega.png" alt="Logo de Meglaton" class="img-fluid mt-3" style="max-width: 150px;">
    </div>
</footer>
